<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julianandres.parquedelcafe" >

    <!-- permiso de internet-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--permiso para provedores de red-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mapa"
            android:label="@string/title_activity_mapa"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".dibujo"
            android:label="@string/title_activity_dibujo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Veinticuatro"
            android:label="@string/title_activity_veinticuatro"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListaAtracciones"
            android:label="@string/title_activity_lista_atracciones"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        
        <service android:name="com.example.julianandres.parquedelcafe.services.MyService"/>
    </application>

</manifest>
